<form action= '/words/:id' method="post">
  <div class="form-group">
    <label for="definition">Enter another definition:</label>
    <input class="form-control" type="text" name="definition" id="definition">
  </div>
  <button type="submit">Submit</button>
</form>

<h1><%= @word.vocabulary_word %></h1>



<% @word.definition.each do |definition| %>
  <h3><%=definition%></h3>
<% end %>
