<h1><%= @word.vocabulary_word %>:</h1>
<h2><%= @word.definition%></h2>


<form class="" action="index.html" method="post">
  <div class="form-group">
    <label for="new-definition">Enter another definition:</label>
    <input class="form-control" type="text" name="new-definition" id="new-definition">
  </div>
  <button type="submit">Submit</button>
</form>
