<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <title>Word Definer</title>
  </head>
  <body>
    <div class="jumbotron">
      <h1>Welcome to Definer</h1>
      <p>A vocabulary word tracker app.</p>

    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
